  <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>The_Hacking_Project : Vos questions, nos réponses</h2>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>






<section class="company-description">
	<div class="container">
			 <div class="row">
                    <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s" >
                        <%= image_tag ('charles_hangar.jpg'), class:"img-responsive"%>
                    </div>
                    <div class="col-md-6">
                        <div class="block">
                            <h2 class="subtitle wow fadeInUp" data-wow-delay=".3s" >Comment est-ce que vous faites de l'argent ?</h2>
                            <p class="wow fadeInUp" data-wow-delay=".5s">
                            - Nous te proposons du travail en fin de formation, et en échange de cette mise en relation nous sommes gratifiés par la société qui te recrute.
                            <br>- Nous passons des partenariat avec des écoles payantes.
                            <br>- Nous donnons des cours rémunérés en entreprise.
                            <br>- Si tu en as l'envie et les moyens, tu peux faire un don en fin de formation pour soutenir le développement de The_Hacking_Project.
                            <br>- Nous avons un taux d'abandon de 10-12% environ, ce qui nous rapporte un peu de liquidités.

                            </p>
                            <h2 class="subtitle wow fadeInUp" data-wow-delay=".3s" >Je ne suis pas disponnible à temps plein. Est-il possible de faire la formation à temps partiel ?</h2>
                            <p  class="wow fadeInUp" data-wow-delay=".7s" >
                                Non ! The_Hacking_Project est une formation exigeante, conçue pour te challenger chaque jour un peu plus que le précédent. 
                                <br>Tu dois impérativement être présent(e) pour faire avancer ton équipe et rester motivé(e) jusqu'au bout. Si tu n'es pas prêt(e) à t'investir à 200%, cherche ailleurs.
                            </p>
                            <h2 class="subtitle wow fadeInUp" data-wow-delay=".3s">Moi je veux des profs qui me donnent des cours. Il y en aura ?</h2>
                            <p  class="wow fadeInUp" data-wow-delay=".7s" >
                                Notre modèle pédagogique est basé sur le peer-learning, ou l'apprentissage par les pairs. Chaque jour, tu apprendras et travailleras en équipe, en suivant des tutoriaux et vidéos qui t'expliqueront tous les concepts à assimiler. 
                                <br>Tu mettras ensuite en application tes nouvelles connaissances grâce à des projets pratiques réalisés en binôme (c'est le "pair-programming"). 
                                <br>
                                <br>En cas de besoin, tu pourras compter sur les membres de ton équipe, ainsi que les autres participant(e)s plus avancé(e)s que toi. 
                                <br>Enfin, nos mentors (développeurs/ses senior ultra-quali) seront là pour te guider et te donner des conseils tout au long de la formation. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
	</div>

	
	<div class="container">
			 <div class="row">
                    
                    <div class="col-md-6">
                        <div class="block">
                            <h2 class="subtitle wow fadeInUp" data-wow-delay=".3s" >Et si jamais il n'y a personne d'autre dans ma ville ?</h2>
                            <p  class="wow fadeInUp" data-wow-delay=".5s" >
                                Nous te proposons :
                                <br>1. De recruter quelqu'un, qui recrutera quelqu'un, qui recrutera quelqu'un, etc... jusqu'à ce qu'un groupe de 6-8 personnes soit constitué. 
                                <br>2. De déménager le temps de la formation sur Paris ou sur la grande ville proche de chez toi.
                            </p>
                            <h2 class="subtitle wow fadeInUp" data-wow-delay=".3s" >Il y a un système de "groupes de travail", comment est-ce que ça marche ?</h2>
                            <p  class="wow fadeInUp" data-wow-delay=".7s" >
                                Nous avons compris lors de notre première session que c'est le fait de travailler en équipe qui te permettra d'avancer et de réussir les projets. L'équipe permet de se surpasser, et l'esprit de corps soude les gens. 
                                <br>Nous allons donc prendre toute la communauté de The_Hacking_Project et constituer des équipes de 6-8 personnes qui travailleront ensemble sur les projets. Vous vous retrouverez tous les matins, prendrez un café/jus d'abricot, et vous mettrez ensemble au taf. Vous vous retrouvez sûrement aussi le soir pour prendre un verre ! 
                                <br>Bien entendu, si tu arrives à motiver 5-6 de tes amis et que vous avez envie de vous mettre ensemble, cela ne pose aucun problème !
                            </p>
                            <h2 class="subtitle wow fadeInUp" data-wow-delay=".3s" >Vous n'avez pas de salles de classe ? Comment est-ce qu'on fait pour se retrouver et travailler ensemble ?</h2>
                            <p  class="wow fadeInUp" data-wow-delay=".7s" >
                                Toi et ton équipe serez libres de choisir votre lieu de formation en totale autonomie. 
                                <br>- Si ton équipe a envie de se retrouver chez l'un(e) d'entre vous sur des canapés, c'est ok. 
                                <br>- Si ton équipe décide de tester tous les cafés coworking de votre ville, c'est ok. 
                                <br>- Si ton équipe décide de se cotiser ensemble pour prendre des locaux, c'est ok. 
                                <br>- Si ton équipe trouve un parc avec du wifi et des prises, c'est ok. 
                                <br>
                                <br>Par ailleurs, nous sommes en contact avec le milieu du squat (sisi) et avons des "bons plans" pour vous permettre de travailler dans un lieu propre et gratuit :)
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s" >
                    <br>
                    <br>
                        <%= image_tag ('group_peniche.jpg'), class:"img-responsive"%>
                    </div>
                </div>
            </div>
	</div>

	
	<div class="container">
			 <div class="row">
                    <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s" >
                    <br>
                    <br>
                        <%= image_tag ('marseille.jpg'), class:"img-responsive"%>
                        <br>
                    <br>
                        <%= image_tag ('thp_latapie.jpg'), class:"img-responsive"%>
                    </div>
                    <div class="col-md-6">
                        <div class="block">
                            <h2 class="subtitle wow fadeInUp" data-wow-delay=".3s" >Quel est le matériel nécessaire pour suivre la formation ?</h2>
                            <p  class="wow fadeInUp" data-wow-delay=".5s" >
                               Un PC (minimum 13 pouces), ou un Mac. 
                               <br>Pour la puissance tout dépend se que tu souhaites faire après la formation et si tu as déjà un ordinateur ou non. 
                               <br>Nous te recommandons d'acheter un PC portable à 800€-900€ (évite les portables de 17 pouces, quand tu te déplaceras ça deviendra casse pieds).
                               <br>Le minimum à mettre pour ton PC (juste pour la formation) : 300€.
                               <br>
                               <br>NB: Pour les utilisateurs de Windows uniquement, il vous sera demandé de faire un "dual boot" sur votre machine afin d'installer Linux. Nous n'accepterons aucune plainte sur le cursus ou sur des bugs éventuels et n'assurerons pas le SAV si vous décidez de garder Windows pour apprendre. <br><br>En ce qui concerne les machines virtuelles, nous te déconseillons leur utilisation.
                            </p>
                            <h2 class="subtitle wow fadeInUp" data-wow-delay=".3s" >Vous parlez de 42 comme une référence. En quoi êtes-vous semblables et différents à la fois?</h2>
                            <p  class="wow fadeInUp" data-wow-delay=".7s" >
                                42 est une énorme inspiration pour nous. Leur esprit, leur logique, leur façon d'enseigner... Tout nous plaît dans cette école. 
                                <br>
                                <br>Il y a deux différences majeures qui nous distinguent de 42 : 
                                <br>1. Notre formation se déroule sur 11 semaines. La leur sur 24 mois  minimum, si tu es bon(ne).
                                <br>2. Ils ont des locaux superbes, tandis que nous vous proposons le système D, la récup' et le squat. N'est pas corsaire qui veut :p
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
	</div>

	
	
	<div class="container">
			 <div class="row">
                    
                    <div class="col-md-6">
                        <div class="block">
                            <h2 class="subtitle wow fadeInUp" data-wow-delay=".3s" >Quels sont les débouchés après la formation ?</h2>
                            <p  class="wow fadeInUp" data-wow-delay=".5s" >
                                1. Tu t'es baladé pendant la formation, tu as une formation technique de base : nous te trouvons un CDI comme dev junior (libre à toi de refuser le taf).
                                <br>2. Tu as galéré pendant la formation, mais tu as kiffé et tu nous a prouvé que tu en voulais : nous te recommandons pour une formation diplômante en alternance dans une école partenaire gratuite pour toi.
                                <br>3. Tu es entrepreneur? A toi ton MVP ;)
                                <br>4. Tu veux travailler en freelance : nous te mettons en contact avec des devs qui ont besoin de petites mains pour avancer.
                                <br>5. Tu veux profiter de tes nouvelles compétences mais rester dans ton ancien domaine d'activité ? Nous transmettons ton profil auprès de nos partenaires chasseurs de tête.<br>
                            </p>
                            <h2 class="subtitle wow fadeInUp" data-wow-delay=".3s" >Je n'ai pas le temps de faire la formation mais j'ai envie de vous soutenir, comment faire ?</h2>
                            <p  class="wow fadeInUp" data-wow-delay=".7s" >
                                C'est très simple, tu peux nous faire un don en cliquant <a href="">ICI</a>. 
                                <br><br>Tu peux parler de nous tout autour de toi. Parle de la formation The_Hacking_Project à des journalistes, à tes amis, à ta maman, bref FAIS DU BRUIT !
                                <br><br>
                            </p>
                           
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s" >
                    <br>
                    <br>
                    <br>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/TJjFoEXIlKM?ecver=1" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
	</div>


	<!--
        ==================================================
        Call To Action Section Start
        ================================================== -->
        <section id="call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">Je veux m'inscrire ou prendre contact avec vous !</h1>
                            <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms"></p>
                            <%= link_to ("Je veux m'inscrire"), inscription_path, class:"btn btn-default btn-contact wow fadeInDown"%>
                            <%= link_to ("Je veux prendre contact"), contact_path, class:"btn btn-default btn-contact wow fadeInDown"%>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>